.wdiget-gcalendar a, .wdiget-gcalendar a:visited {
  color: #555;
}
.wdiget-gcalendar a:hover {
  text-decoration: none;
}

.gcalendar-event {
 padding: 4px;
 background-color: white;
 border-bottom: 1px solid #ddd;
}

.gcalendar-events {
 border: 1px solid #ddd;
}
.gcalendar-events .gcalendar-event:last-child{
 border-bottom: none;
}

.gcalendar-event-clear {
  clear: both;
}

.gcalendar-event-date{
  float:left;
  width: 20%;
  border: solid 2px #555;
}

.gcalendar-event-desc{
  float:left;
  width: 80%;
  padding: 3px;
}

.gcalendar-event-more{
  text-align:right;
  font-size: 0.8em;
  
}

.gcalendar-event-more a:hover{
  color:white;
  background-color: #555;
}

.gcalendar-event-more a{
  border: 2px solid #555;
  padding-left: 3px;
  padding-right: 3px;
}

.gcalendar-event-date-up {
  padding:2px;
  text-align: center;
}

.gcalendar-event-date-down {
  padding:2px;
  background-color: #555;
  color:white;
  text-align: center;
}

.gcalendar-cal-link {
  text-align: right;
}

.gcalendar-event-desc-sum a{
  text-transform: uppercase;
}

.gcalendar-event-desc-time {
  font-size: 0.7em;
}